* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}

@font-face {
    font-family: "Noto sans";
    src: url("assets/fonts/NotoSans-VariableFont_wdth,wght.ttf");
}

:root {
    /* Neutral */
    --Neutral-900: hsl(227, 75%, 14%);
    --Neutral-800: hsl(226, 25%, 17%);
    --Neutral-700: hsl(225, 23%, 24%);
    --Neutral-600: hsl(226, 11%, 37%);
    --Neutral-300: hsl(0, 0%, 78%);
    --Neutral-200: hsl(217, 61%, 90%);
    --Neutral-100: hsl(0, 0%, 93%);
    --Neutral-0: hsl(200, 60%, 99%);

    /* Red */
    --Red-400: hsl(3, 86%, 64%);
    --Red-500: hsl(3, 71%, 56%);
    --Red-700: hsl(3, 77%, 44%);

    /* Gradient */
    --Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

    --ff: "Noto sans";

    --fw-regular: 400;
    --fw-mild: 500;
    --fw-bold: 700;
}

body {
    background: var(--Dark-Gradient);
    font-family: var(--ff);
    background-repeat: no-repeat;
    background-color: #091540;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-block: 1rem;
    color: var(--Neutral-0);
}

button:hover {
    cursor: pointer;
}

main {
    width: 92%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    header {
        background-color: var(--Neutral-800);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.75rem;
        border-radius: 0.75rem;
        border: solid 1px var(--Neutral-0);

        .logo {
            width: 180px;
        }

        .theme {
            background-color: var(--Neutral-700);
            padding: 0.85rem;
            display: grid;
            border-radius: 0.85rem;
            border: solid 1px var(--Neutral-0);
        }

        .theme:hover {
            background-color: var(--Neutral-600);
        }
    }

    .extensions-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .top {
            text-align: center;
            display: grid;
            gap: 1rem;

            h1 {
                font-size: 2rem;
            }

            .filter {
                display: flex;
                justify-content: center;
                gap: 0.85rem;
                list-style: none;

                li button {
                    padding: 0.5rem 1.25rem;
                    font-size: 1.35rem;
                    color: var(--Neutral-0);
                    background-color: var(--Neutral-700);
                    border: none;
                    border-radius: 2rem;
                    border: solid 1px var(--Neutral-200);
                }

                li button[data-on="true"] {
                    background-color: var(--Red-400);
                    color: var(--Neutral-0);
                    border: solid 1px var(--Red-400);
                }

                li button[data-on="true"]:hover {
                    background-color: var(--Red-500);
                }

                li button[data-on="false"]:hover {
                    background-color: var(--Neutral-600);
                }
            }
        }

        .grid {

            display: grid;
            gap: 0.75rem;

            .extension {
                background-color: var(--Neutral-800);
                border: solid 1px var(--Neutral-200);
                padding: 1.1rem;
                border-radius: 1.15rem;
                display: grid;
                gap: 1.5rem;

                .description {
                    display: flex;
                    gap: 1rem;

                    img {
                        align-self: flex-start;
                    }

                    .title-paragraph {
                        display: grid;
                        gap: 0.5rem;
                        h2 {
                            font-size: 1.25rem;
                        }

                        p {
                            color: var(--Neutral-100);
                        }
                    }
                }

                .option {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .remove {
                        padding: 0.5rem 1rem;
                        font-size: 1rem;
                        border-radius: 2rem;
                        border: solid 1px var(--Neutral-300);
                        background: none;
                        color: var(--Neutral-0);
                        font-weight: var(--fw-mild);
                    }

                    .remove:hover {
                        background-color: var(--Red-400);
                        color: var(--Neutral-700);
                        border: solid 1px var(--Neutral-700);
                    }

                    .on-off {
                        background-color: var(--Red-400);
                        width: 38px;
                        height: 20px;
                        border: solid 2px var(--Red-400);
                        border-radius: 1rem;
                        display: flex;

                        span {
                            background-color: var(--Neutral-0);
                            width: 18px;
                            border-radius: 50%;
                        }
                    }
                }
            }

            .extension[data-active="false"] {
                .on-off {
                    background-color: var(--Neutral-300);
                    border: solid 2px var(--Neutral-300);
                    justify-content: start;
                }

                .on-off:hover {
                    background-color: var(--Neutral-300);
                }
            }

            .extension[data-active="true"] {
                .on-off {
                    background-color: var(--Red-400);
                    border: solid 2px var(--Red-400);
                    justify-content: end;
                }

                .on-off:hover {
                    background-color: var(--Red-500);
                    border: solid 2px var(--Red-500);
                }
            }
        }
    }
}

@media screen and (min-width: 700px) {

    main {
        .extensions-list {
            .top {
                display: flex;
                justify-content: space-between;
            }

            .grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    body {
        padding-block: 3rem;
    }

    main {
        width: 1165px;
        gap: 4rem;

        .extensions-list {

            .top {
                display: flex;
                justify-content: space-between;
            }

            .grid {
                grid-template-columns: repeat(3, 1fr);
        
                .extension {
                    gap: 3rem;
                }
            }
        }
    }
}

@keyframes extanime {
    from {
        opacity: 0;
        transform: rotate(200deg);
    }
    to {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.extension {
    animation: extanime 0.5s ease-in-out 0s forwards;
}

